@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d131a;
  color: white;
}

/* Font CabinetGrotesk */

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* Font Kantumruy Pro */

/* khmer */
@font-face {
  font-family: "Kantumruy Pro";
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kantumruypro/v9/1q2eY5aECkp34vEBSPFOmJxwlEbxcqWku2U.woff2)
    format("woff2");
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

/* khmer */
@font-face {
  font-family: "Kantumruy Pro";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kantumruypro/v9/1q2AY5aECkp34vEBSPFOmJxwlEjBe72g.woff2)
    format("woff2");
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

._3d-text {
  text-shadow:
    1px 1px #6cf,
    2px 2px #6cf,
    3px 3px #6cf;
}

*:has([data-modal-open]) {
  overflow: hidden;
}

@layer components {
  ._border-gradient {
    background:
      linear-gradient(#0d131a 0 0) padding-box,
      linear-gradient(45deg, #0d131a 5%, #98cb33) border-box;
    border: 2px solid transparent;
  }

  ._border-gradient-white {
    background:
      linear-gradient(#ffffff 0 0) padding-box,
      linear-gradient(45deg, #0d131a 5%, #98cb33) border-box;
    border: 2px solid transparent;
  }
}

.markdown {
  & * {
    font-size: 1rem;
    margin-top: 0.4rem;
  }

  /* Header */
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  & h1 {
    font-size: 2.5rem;
  }

  & h2 {
    font-size: 2rem;
  }

  & h3 {
    font-size: 1.75rem;
  }

  & h4 {
    font-size: 1.5rem;
  }

  & h5 {
    font-size: 1.25rem;
  }

  & h6 {
    font-size: 1rem;
  }

  /* Pre (Code) */
  & pre {
    background-color: #1f2937;
    padding: 0.8rem;
    overflow: auto;

    &:not(.hljs-name) {
      color: #fff;
    }
  }

  /* A (Link) */
  & a {
    text-decoration: underline;
    position: relative;
    padding-right: 1rem;

    &::after {
      content: url("/assets/svg/external-link.svg");
      margin-left: 0.2rem;
      position: absolute;
      bottom: 0;
    }
  }

  /* Blockquote */
  & blockquote {
    border-left: 4px solid #98cb33;
    background-color: #d5d5d5;
    padding-left: 1rem;
    margin-left: 0;
  }

  /* Code */
  & p > code {
    font-size: 1rem;
    background-color: #0d131a;
    color: #fff;
    padding: 0 0.2rem;
  }

  /* List */
  & ul,
  ol {
    padding-left: 1rem;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  /* KBD */
  & kbd {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.1rem 0.3rem;
    font-size: 0.8rem;
  }
}
